<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/external/jquery-1.11.0.min.js"></script>
    <script src="/external/handlebars-v1.3.0.js"></script>
    <link  href="/stylesheets/main.css" rel="stylesheet" type="text/css" media="all">

    {{#if resourceloader}}
      <script src="/javascripts/{{resourceloader}}.js"></script>
      <link  href="/stylesheets/{{resourceloader}}.css" rel="stylesheet" type="text/css" media="all">
    {{/if}}
    
  </head>
  <body>
    <header>
      <nav>
        <ul>{{#each nav}}
          <li><a href="{{url}}">{{title}}</a></li>
        {{/each}}</ul>
      </nav>
      {{#if user }}
        {{ user.displayName }} <a href="/logout">logout</a>
      {{else}}
        <a href="/login/google">Login with Google</a>
      {{/if}}
      <header>

<h1>Binary Addition Quiz</h1>
    <!--
    <div id="email">
         <label for="tincanemail">School Email Address</label> <input type="email" id="tincanemail" />
         <button id="save">Save</button>
    </div>-->
</header>

    </header>
    {{{body}}}
  </body>
</html>
